

<div class="container text-center padded">
  <h1>Our team</h1>
  <ul class="list-inline text-center">
    <% ["anne", "seb", "romain"].each do |member| %>
      <li>
        <h2><%= member.capitalize %></h2>
        <%= image_tag "#{member}.jpg", class: "img-circle avatar-big" %>
      </li>
    <% end %>
  </ul>
  <h3 class="padded"><%= link_to '<i class="fa fa-envelope"></i> contact@airbnb.com', "mailto:contact@airbnb.com" %></h3>
</div>
